__pycache__/
**/.DS_Store
data/Europarl_en_fr/Europarl.en
data/Europarl_en_fr/Europarl.fr
data/EMEA_en_fr/EMEA.en
data/EMEA_en_fr/EMEA.fr
data/Europarl_en_fr/run/*.pt
data/EMEA_en_fr/run/*.pt
data/*/*/*.pt
# data/clean_transformers/